src/main/mule/greeting-service.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="greetUserFlow" doc:id="f0c8b9e1-4d1e-4a44-8b1e-4d3f9e8e9f1f">
            <http:listener config-ref="HTTP_Listener_config" path="/greet" doc:name="HTTP Listener" doc:id="a1f2e3d4-5b6c-7d8e-9f0a-1b2c3d4e5f6g"/>
            <ee:transform doc:name="Transform Message" doc:id="b2d3e4f5-6a7b-8c9d-0e1f-2g3h4i5j6k7l">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
    output application/json
    ---
    {
        "message": "Hello, User! Welcome to our service."
    }]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <logger level="INFO" doc:name="Logger" doc:id="c3d4e5f6-7g8h-9i0j-1k2l-3m4n5o6p7q8r" message="Greeting message sent: #[payload.message]"/>
        </flow>
</mule>